/* Header */

.header {
  background-color: #000;
  /* height: 75px; */
  /* margin-bottom: 500px; */
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
}

.header__nav_link {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.header__nav_link:not(:last-child) {
  margin-right: 113px;
}




