/* Header */

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 15%;
  padding-right: 15%;
}

.header__nav_link {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  padding: 30px 40px;
}

.header__nav_link:hover {
  background: #EC7979;
  cursor: pointer;
}

.header__nav_link:active {
  background: #AB4949;
}


/* @media */

@media screen and (max-width:1300px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .header__nav_link {
    padding: 30px 23px;
  }
}

@media screen and (max-width:910px) {
  .header {
    padding-left: 3%;
    padding-right: 3%;
  }
  .header__nav_link {
    padding: 30px 18px;
  }
}

@media screen and (max-width:680px) {
  .header {
    padding-left: 2%;
    padding-right: 2%;
  }
  .header__nav_link {
    padding: 30px 13px;
  }
}

@media screen and (max-width:617px) {
  .header__nav_link {
    padding: 30px 7px;
  }
}

@media screen and (max-width:570px) {
  .header__nav {
    display: none;
  }
  .header {
    padding-left: 4%;
    padding-right: 4%;
  }
}



