/* Header */

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 15%;
  padding-right: 15%;
}

.header__nav_link {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.header__nav_link:not(:last-child) {
  margin-right: 113px;
}

/* @media */

@media screen and (max-width:1300px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .header__nav_link:not(:last-child) {
    margin-right: 90px;
  }
}

@media screen and (max-width:910px) {
  .header {
    padding-left: 3%;
    padding-right: 3%;
  }
  .header__nav_link:not(:last-child) {
    margin-right: 40px;
  }
}



