/* Social */

.main__social {
  background: #F8EFEF;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.main__social_text {
  margin-right: 50px;
}

.main__social_header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #333333;
}

.main__social_description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.main__social_link:not(:last-child) {
  margin-right: 45px;
}

@media screen and (max-width:1250px){
  .main__social_header {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .main__social_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .main__social_link:not(:last-child) {
    margin-right: 40px;
  }
  .main__social_link-image {
    height: 50px;
  }
}

@media screen and (max-width:1060px) {
  .main__social_link-image {
    height: 40px;
  }
}

@media screen and (max-width:990px) {
  .main__social {
    flex-direction: column;
    padding: 30px 0px;
  }
  .main__social_link-image {
    height: 30px;
  }
  .main__social_description {
    margin-bottom: 30px;
    text-align: center;
  }
  .main__social_header {
    text-align: center;
  }
  .main__social_link:not(:last-child) {
    margin-right: 30px;
  }
  .main__social_text {
    margin-right: 0px;
  }
}

@media screen and (max-width:500px) {
  .main__social_link-image {
    height: 20px;
  }
  .main__social_link:not(:last-child) {
    margin-right: 20px;
  }
}