.main__contact {
  padding: 50px 0px;
  background: #FFFFFF;
}

.main__contact-form-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.main__contact-form-inputs-div {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.main__contact-form-input {
  border: 0px;
  border-bottom: 1px solid #BDBDBD;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: black;
  width: 571px;
  padding: 16px 0px;
}

.main__contact-form-input:not(:last-child) {
  margin-bottom: 40px;
}

.main__contact-form-input:focus {
  outline: 0;
  border: 1px solid #BDBDBD;
  border-radius: 5px 5px 0px 0px;
}

.main__contact-form-textarea {
  height: 236px;
  width: 569px;
  border: 0px;
  border-bottom: 1px solid #BDBDBD;
  resize: none;
  font-family: 'Open Sans';
  font-style: normal;
}

.main__contact-form-textarea:focus {
  outline: 0;
}

.main__contact-form-button-div {
  display: flex;
  justify-content: center;
  align-items:center;
}

.main__contact-form-button {
  background: #EC7979;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0px;
  width: 370px;
  height: 58px;
}

@media screen and (max-width:1240px) {
  .main__contact-form-input, .main__contact-form-textarea {
    width: 486px;
  }
  .main__contact-form-button {
    width: 318px;
  }
}

@media screen and (max-width:1050px) {
  .main__contact-form-div {
    flex-direction: column;
  }
  .main__contact-form-inputs-div {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width:580px) {
  .main__contact-form-input, .main__contact-form-textarea {
    width: 400px;
  }
}

@media screen and (max-width:470px) {
  .main__contact-form-input, .main__contact-form-textarea {
    width: 300px;
  }
}

@media screen and (max-width:360px) {
  .main__contact-form-input, .main__contact-form-textarea {
    width: 280px;
  }
  .main__contact-form-button {
    width: 280px;
  }
}