/* Pricing */

.main__pricing {
  background: #F5F5F5;
  padding-bottom: 50px;
  padding-top: 50px;
}

.main__pricing_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main__pricing_item {
  width: 370px;
}

.main__pricing_item:not(:last-child) {
  margin-right: 30px;
}

/* Подъём блока при наведении */
.main__pricing_item:hover { 
  margin-top: -1.5%;
  transition-property: margin-top;
  transition-duration: .6s;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.main__pricing_item-header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #333333;
  border: 2px solid #F5F5F5;
  height: 60px;
}

.main__pricing_item-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #333333;
  border: 2px solid #F5F5F5;
  height: 100px;
}

.main__pricing_item-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  background: #333333;
  border: 2px solid #F5F5F5;
  height: 50px;
}

.main__pricing_item-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #86878B;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  height: 50px;
}

@media screen and (max-width:1200px) {
  .main__section-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 55px;
  }
  .main__pricing_item {
    width: 317px;
  }
  .main__pricing_item-header {
    height: 53px;
  }
  .main__pricing_item-price {
    height: 88px;
  }
  .main__pricing_item-desc, .main__pricing_item-description {
    height: 44px;
  }
  .main__pricing_item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width:1020px) {
  .main__pricing_item {
    width: 288px;
  }
}

@media screen and (max-width:930px) {
  .main__pricing_items {
    flex-direction: column;
    align-items: center;
  }
  .main__pricing_item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 27px;
  }
  .main__pricing_item-header {
    height: 47px;
    font-size: 18px;
    line-height: 25px;
  }
  .main__pricing_item-price {
    height: 78px;
    font-size: 24px;
    line-height: 28px;
  }
  .main__pricing_item-desc, .main__pricing_item-description {
    height: 39px;
    font-size: 14px;
    line-height: 16px;
  }
  .main__section-description {
    margin-bottom: 24px;
  }
}