.main__stylish {
  background-image: url(../images/bg_stylish50.png);
  height: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__stylish-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 60px;
}

.main__stylish-line {
  border-bottom: 1px solid #FFFFFF;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.main__stylish-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 73px;
}

.main__stylish-button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background: transparent;
  width: 370px;
  height: 58px;
}

@media screen and (max-width:1200px) {
  .main__stylish {
    height: 358px;
    padding: 0px 2%;
  }
  .main__stylish-header {
    font-size: 24px;
    line-height: 28px;
  }
  .main__stylish-line {
    width: 142px;
    margin-bottom: 32px;
  }
  .main__stylish-description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 32px;
  }
  .main__stylish-button {
    width: 318px;
  }
}

@media screen and (max-width:450px) {
  .main__stylish-button {
    width: 287px;
    height: 50px;
  }
}