.main__stylish {
  background-image: url(../images/bg_stylish50.png);
  height: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__stylish-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 60px;
}

.main__stylish-line {
  border-bottom: 1px solid #FFFFFF;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.main__stylish-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 73px;
}

.main__stylish-button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background: transparent;
  padding: 15px 140px;
}

