/* Pricing */

.main__pricing {
  background: #F5F5F5;
  padding-bottom: 50px;
  padding-top: 50px;
}

.main__pricing_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 1170px;
  margin: 0 auto; */
}

.main__pricing_item {
  /* text-align: center; */
  /* align-items:center; */
}

.main__pricing_item:not(:last-child) {
  margin-right: 30px;
}

.main__pricing_item-header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #333333;
  border: 2px solid #F5F5F5;
  height: 60px;
  width: 370px;
}

.main__pricing_item-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #333333;
  border: 2px solid #F5F5F5;
  height: 100px;
  width: 370px;
}

.main__pricing_item-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  background: #333333;
  border: 2px solid #F5F5F5;
  height: 50px;
}

.main__pricing_item-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #86878B;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  height: 50px;
}