/* Social + Tabs + Awesome */

/* Social */

.main__social {
  background: #F8EFEF;
  /* width: 1510px; */
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  /* background-repeat: repeat;
  background-size: cover;
  background-position: center; */
  /* margin: 0 auto; */
  margin-bottom: 100px;
}

.main__social_text {
  margin-right: 50px;
}

.main__social_header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #333333;
}

.main__social_description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* display: flex;
  align-items: center; */
  color: #86878B;
}

/* .main__social_links {
  display: inline-block;
} */

.main__social_link:not(:last-child) {
  margin-right: 45px;
}

/* Tabs */

.main__tabs {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main__tabs_buttons {
  display: flex;
}

.main__tab {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  padding: 10px 82px;
}

.main__tab:last-child {
 padding-right: 180px;
}

.main__tab:not(:first-child) {
  border-bottom: 1px solid #C6CBCD;
}

.main__tab_active {
  border: 1px solid #C6CBCD;
  border-bottom: 0px;
}

.main__tabs_section {
  border: 1px solid #C6CBCD;
  border-top: 0px;
  height: 501px;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 1170px;
}

.main__tabs_left {
  display: flex;
  flex-direction: column;
  /* width: 570px; */
  margin-right: 23px; 
  padding-left: 100px;
}

.main__tabs_right .main__tabs_image{
  width: 470px;
  height: 500px;
}

.main__tabs_header {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 27px;
  /* padding: 30px 0px; */
}

.main__tabs_description {
  font-size: 18px;
  line-height: 21.13px;
  font-weight: normal;
  margin-bottom: 27px;
}

.main__tabs_button {
  font-family: 'Open Sans', sans-serif;
  width: 270px;
  height: 58px;
  font-weight: 600;
  font-size: 18px;
  border: 0px;
  color: white;
  background-color: #EC7979;
}

/* Why this is awesome */

.main__awesome {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 58px;
}

.main__section-name {
  font-size: 36px;
  font-weight: 400;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center;
  text-transform: uppercase;
}

.main__section-line {
  border-bottom: 1px solid #EC7979;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.main__section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #86878B;
  margin-bottom: 110px;
  text-align: center;
}

.main__section-block {
  max-width: 370px;
}

.main__section-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main__section-block:not(:last-child) {
  margin-right: 20px;
}


.main__section-block-image-border {
  height: 92px;
  width: 92px;
  border: 1px solid #EC7979;
  border-radius: 50%;
  margin-bottom: 39px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main__section-block-image {
  margin-top: 9px;
}

.main__section-block-header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.main__section-block-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.main__section-block-image-2 {
  margin-top: 20px;
}

.main__section-block-image-3 {
  margin-top: 14px;
}

